<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easybus">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectPicPopupWindow"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".AddFamMember" />
        <activity android:name=".edit" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Page801Activity" />
        <activity android:name=".Page7falseActivity" />
        <activity android:name=".Page7trueActivity" />
        <activity android:name=".Page702Activity" />
        <activity android:name=".Page701Activity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Page10Activity" />
        <activity android:name=".Page9Activity" />
        <activity android:name=".Page501Activity" />
        <activity android:name=".Login2" />
        <activity android:name=".SignUp2" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.EasyBus.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="ExtraText">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Page8Activity" />
        <activity android:name=".Page7Activity" />
        <activity android:name=".Page6Activity" />
        <activity android:name=".Page5Activity" />
        <activity android:name=".Page4Activity" />
        <activity android:name=".Page3Activity" />
        <activity android:name=".Page2Activity" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>